
@media screen and (min-width: 1201px) {
    #desktop-nav {
        display: flex;
    }
    #hamburger-nav {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1rem;
        z-index: 1000;
    }

    #hamburger-nav .logo {
        display: none; 
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .hamburger-icon {
        cursor: pointer;
        margin-left: auto; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 24px;
        width: 30px;
    }

    .hamburger-icon span {
        height: 2px;
        background-color: black;
    }

    .menu-links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: white;
        text-align: right;
        transition: all 0.3s ease-in-out;
        z-index: 1001; 
    }

    .menu-links.open {
        max-height: 300px; 
    }

    .menu-links li {
        list-style: none;
        margin: 0.5rem 0;
    }

    .menu-links a {
        display: block;
        padding: 10px;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
    }
}


@media screen and (max-width: 768px) {

    .section-container,
    .experience-details-container,
    .about-containers {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /*profile specific */
    .circular-image {
        width: 200px; 
        order: -1;
    }

   
    .project-deck-container {
        gap: 0.5rem;
        height: auto;
        min-height: 550px;
    }

    .project-deck {
        width: 85vw;
        height: 480px;
    }

    .project-card {
        padding: 1rem;
        transform: scale(0.9) translateX(20px); 
    }

    .project-img {
        width: 100%;
        height: 200px; 
        object-fit: cover;
    }

    .arrow-btn {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        position: absolute;
        bottom: -60px; 
    }

    .arrow-btn.prev { left: 25%; }
    .arrow-btn.next { right: 25%; }
    .title { font-size: 1.75rem; }
    .btn { width: 100%; max-width: 200px; }
}